*{
    margin: 0;
    padding: 0;
    
}

.cont-all-one{
    
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 5px;
    height: 200px;
    border-radius: 5px;
    background: #232423;
    margin-right: 10px;
    
}

.cont-all-one img{
    
    height: 200px;
    object-fit: cover;
    width: 100%;
    border-radius: 0px;
    
    
}

.cont-data{
    height: 700px;
    overflow: auto;
}

/* .cont-data {
    scrollbar-width: thin;
    scrollbar-color: #FF5A5F #191414;
} */

.cont-data::-webkit-scrollbar {
    width: 5px;
    
    
}


.cont-data::-webkit-scrollbar-thumb {
    background: #1DA1F2;
    border-radius: 20px;
    opacity: 0.10;
    transition: opacity 0.2s ease-in-out;
}

.cont-data::-webkit-scrollbar-thumb:hover,
.cont-data::-webkit-scrollbar-thumb:active,
.cont-data::-webkit-scrollbar-thumb:focus {
    opacity: 1;
}



.cont-a{
    margin-bottom:5px ;
    
    padding: 10px 5px;
    cursor: pointer;
    margin: 0px 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 90% 5%;
    justify-content: space-between;
    
   
    
    
}
.cont-all-one:hover{
    background: #272727;
    
}

h2{
    font-size: 17px;
    font-weight: 700;
    color: #1DA1F2;
    text-transform: capitalize;

}



.cont-a .re-icon{
    
   
    font-size: 22px;
    
     display: none; 
    
}

.cont-all-one:hover .re-icon{
 
   display: flex;
   
}



.cont-a .re-icon:hover{
    color: #332fa1;
}

p{
    font-size: 15px;
    font-weight: 300;
    width: 95%;
}

.p{
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: #FC642D;
    display: inline-block;
    
}

.actua{
    font-size: 12px;
    color: #6b6b6b;
    font-weight: 400;
    margin: 10px 0;
}

.caducacion{

    font-size: 12px;
    color: red;
    font-weight: 400;
    margin: 10px 0;
   

}


.cont-audio{
 
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    background: #272727;
    padding: 5px 10px;
    border-radius: 50px;
}

.ade{
    background: none;
    border: none;
    margin: 0 5px;
}

.play{
    border: none;
    background: none;
    background: #FC642D;
    cursor: pointer;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: all ease-in 1s;
}

.play:hover{
    background: #db501d;
}

.progress{
    background: #ccc;
    height: 5px;
    width: 100%;
    border-radius: 5%;

}

