.cont-data{
    height: 700px;
    overflow: auto;
}

.cont-data {
    scrollbar-width: thin;
    scrollbar-color: #1DB954 #191414;
}

.cont-data::-webkit-scrollbar {
    width: 5px;
    
    
}


.cont-data::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 20px;
    opacity: 0.10;
    transition: opacity 0.2s ease-in-out;
}

.cont-data::-webkit-scrollbar-thumb:hover,
.cont-data::-webkit-scrollbar-thumb:active,
.cont-data::-webkit-scrollbar-thumb:focus {
    opacity: 1;
}


/* .cont-data::-webkit-scrollbar{
    width: 5px;
    
}

.cont-data::-webkit-scrollbar-thumb {
    background: #1DB954;
    border-radius: 20px;
}

.cont-data::-webkit-scrollbar-track {
    background: #940808;
} */

.cont-a{
    margin-bottom:5px ;
    border-bottom: solid 1px #ccc;
    padding: 10px 5px;
    cursor: pointer;
    margin: 2px 5px;
    display: grid;
    align-items: center;
    grid-template-columns: 90% 5%;
    justify-content: space-between;
    margin-top: 2%;
    border-radius: 5px;
    
    
}
.cont-a:hover{
    background: #272727;
}

h2{
    font-size: 17px;
    font-weight: 700;
    color: #1DB954;
    text-transform: capitalize;

}



.cont-a .re-icon{
    color: #494848;
    font-size: 15px;
    
     display: none; 
    
}

.cont-a:hover .re-icon{
 
   display: flex;
}

.cont-a .re-icon:hover{
    color: #332fa1;
}

p{
    font-size: 15px;
    font-weight: 300;
    width: 95%;
}

.p{
    text-align: center;
    padding: 20px 0;
    color: #494848;
    display: inline-block;
    
}

.actua{
    font-size: 12px;
    color: #6b6b6b;
    font-weight: 400;
    margin: 10px 0;
}

.caducacion{

    font-size: 12px;
    color: red;
    font-weight: 400;
    margin: 10px 0;
   

}

iframe{
   width: 100%;
   height: 350px;
    padding: 20px;
    border: none;
    border-radius: 30px;
}
