input{
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    border: solid 1px #ccc;
}

.p{
    text-align: center;
    padding: 20px 0;
    color: #494848;
}

