nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    
    padding: 10px 20px;
    display: inline-block;
    width: 49%;
    
    background: #303031;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}
nav a.active{
    background: #191414;
    
}