nav{
    
    background: #303031;
    /* padding: 5px 0px; */
    border-radius: 5px;
    height: 750px;
   
}

nav a{
    text-decoration: none;
    
    padding: 20px 10px;
    display: block;
    border-radius: 5px;
    width: 100%;
    background: #303031;
    
    text-align: center;
    font-size: 17px;
    font-weight: 500;

    writing-mode: vertical-rl;
  transform: rotate(180deg);
}
nav a.active{
    background: #1DA1F2;
    
}