
.cont-all{
  
  width: 50%;
  margin: 2% auto;
}

.cont{
  width: 100%;
  background: #191414;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  
}

.h1{
  color: #000;
  text-align: center;
  margin-top: 5%;
}