
.cont-all{
  
  width: 60%;
  margin: 5% auto;
}

.cont{
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  
}

.h1{
  color: #fff;
  text-align: center;
  margin-top: 5%;
}